---
import { Image } from 'astro:assets';
import Layout from '../components/Layout.astro';
import Container from '../components/atoms/Container.astro';
import H1 from '../components/atoms/H1.astro';
import { Icon } from '../components/atoms/Icon.tsx';
import Breadcrumbs from '../components/organisms/Breadcrumbs.astro';
import BuresImage from '../images/kontakt/bures.jpg';
import GerzaImage from '../images/kontakt/gerza.jpg';
import HazuchovaImage from '../images/kontakt/hazuchova.jpg';
import HozzovaImage from '../images/kontakt/hozzova.jpg';
import PavelkovaImage from '../images/kontakt/pavelkova.jpg';
import SedlacikovaImage from '../images/kontakt/sedlacikova.jpg';

const metaTags = {
  title: 'Studentská unie UTB',
  description:
    'Rádi byste navázali spolupráci? Něco byste změnili? Máte dotaz? Naši hvězdní manažeři jsou vám k dispozici, neváhejte se nám ozvat!',
  image: '/meta-image-kontakt.jpg',
};

const people = [
  {
    name: 'Dominik Gerža',
    role: 'Prezident',
    email: 'gerza@sutb.cz',
    tel: '+420 605 803 354',
    image: GerzaImage,
  },
  {
    name: 'Simona Hazuchová',
    role: 'Viceprezidentka',
    email: 'hazuchova@sutb.cz',
    image: HazuchovaImage,
  },
  {
    name: 'Veronika Pavelková',
    role: 'Viceprezidentka',
    email: 'pavelkova@sutb.cz',
    image: PavelkovaImage,
  },
  {
    name: 'Kateřina Sedlačiková',
    role: 'Tajemnice',
    email: 'sedlacikova@sutb.cz',
    image: SedlacikovaImage,
  },
  {
    name: 'Michelle Hozová',
    role: 'HR',
    email: 'hozzova@sutb.cz',

    image: HozzovaImage,
  },
  {
    name: 'Jan Bureš',
    role: 'HR',
    email: 'bures@sutb.cz',
    image: BuresImage,
  },
];
---

<Layout {...metaTags}>
  <section class="pt-12 pb-16 bg-gradient-to-b from-white via-stone-100 to-stone-100 px-4 sm:px-8 md:px-8 lg:px-10">
    <Container>
      <Breadcrumbs
        items={[
          {
            title: 'Kontakt',
            href: '/kontakt',
          },
        ]}
      />
      <H1>Kontakt</H1>
      <p
        class="sm:text-lg lg:text-xl pt-6 text-stone-700 tracking-wide leading-relaxed sm:leading-relaxed lg:leading-relaxed"
      >
        Rádi byste navázali spolupráci? Něco byste změnili? Máte dotaz? <br />
        <strong class="font-medium">Naši hvězdní manažeři jsou vám k dispozici, neváhejte se nám ozvat!</strong>
      </p>
      <ul class="pt-16 md:pt-24 grid sm:grid-cols-2 lg:grid-cols-3 gap-x-12 gap-y-16 max-w-sm sm:max-w-none mx-auto">
        {
          people.map((person) => (
            <li class="px-2 relative  group flex flex-col items-center sm:items-start">
              {person.image && <Image src={person.image} class="h-32 w-32 rounded-full shadow-lg" alt="" />}
              <h2 class="text-xl md:text-2xl font-bold tracking-wide text-stone-800 pt-4 md:pt-5">{person.name}</h2>
              <p class="text-primary-600 font-medium uppercase tracking-wider">{person.role}</p>
              <a
                class="mt-2 md:text-lg  font-medium py-1 text-stone-600 flex justify-start items-center hover:text-primary-600 transition duration-300"
                href={`mailto:${person.email}`}
              >
                <Icon name="mail" className="w-5 h-5 mr-2.5" />
                <span>{person.email}</span>
              </a>
              {person.tel && (
                <a
                  class="md:text-lg font-medium py-1 text-stone-600 flex justify-start items-center hover:text-primary-600 transition duration-300"
                  href={`tel:${person.tel}`}
                >
                  <Icon name="tel" className="w-5 h-5 mr-2.5" />
                  <span>{person.tel}</span>
                </a>
              )}
            </li>
          ))
        }
      </ul>
    </Container>
  </section>
  <section class="py-16 bg-stone-100">
    <Container>
      <h2 class="text-2xl sm:text-3xl md:text-4xl pt-12 font-bold tracking-wide text-center">Adresa</h2>
      <p class="text-center text-sm sm:text-base md:text-lg text-stone-700 leading-relaxed tracking-wider pt-4">
        Studentská unie UTB, z.s. <br />
         Růmy 4046, budova U3 UTB <br />
         760 01 Zlín <br />
         IČO: 26996286
      </p>
    </Container>
  </section>
</Layout>
