---
import Layout from '../components/Layout.astro';
import Container from '../components/atoms/Container.astro';
import H1 from '../components/atoms/H1.astro';
import Breadcrumbs from '../components/organisms/Breadcrumbs.astro';
import ProjectSection from '../components/organisms/ProjectSection.astro';

import SeznamovakImage from '../images/o-nas/seznamovak.jpg';
import MajalesImage from '../images/projekty/majales.webp';
import PlesImage from '../images/projekty/ples.webp';
import VitaniImage from '../images/projekty/vitani.webp';
import AntiplesImage from '../images/projekty/antiples.webp';
import HalloweenImage from '../images/projekty/halloween.webp';
import StromecekImage from '../images/projekty/stromecek.webp';
import SpiralaImage from '../images/projekty/spirala.webp';
import DenBojeZaSvoboduImage from '../images/o-nas/den-boje-za-svobodu.jpg';

const metaTags = {
  title: 'Projekty | Studentská unie UTB',
  description: 'TODO',
  image: '/meta-image-projekty.jpg',
};
---

<Layout {...metaTags}>
  <section class="pt-8 sm:pt-10 lg:pt-12 pb-16 bg-gradient-to-b from-white via-stone-100 to-stone-100">
    <Container>
      <Breadcrumbs
        items={[
          {
            title: 'Projekty',
            href: '/projekty',
          },
        ]}
      />
      <H1>Projekty</H1>
      <p class="sm:text-lg lg:text-xl pt-6 text-stone-700 tracking-wide leading-relaxed sm:leading-relaxed lg:leading-relaxed">
        Organizujeme spoustu projektů, které zlepšují kulturní život nejen na univerzitě, ale také ve městě.
      </p>

      <ProjectSection 
        title="Majáles" 
        description="Majáles UTB je největší studentský hudební a kulturní festival ve Zlínském kraji a zároveň náš největší projekt. Tradičně se koná v Parku u Baťovy vily a nabízí program na dvou stagích, deset multižánrových koncertů i soutěž o Krále a Královnu Majálesu. To všechno je pro návštěvníky zcela zdarma. Součástí Majálesu je také pestrý Majálesový týden s doprovodným programem, například Prvomájový průvod, Pub kvíz a mnoho dalšího. Více můžeš zjistit na webu" 
        image={MajalesImage} 
        swap={true} 
      />

      <ProjectSection 
        title="Reprezentační ples" 
        description="Reprezentační ples UTB je tradiční společenská událost, která každý rok přivítá studenty, zaměstnance i hosty z řad veřejnosti. Večer se nese v elegantním duchu a nabízí bohatý program, během kterého se střídají vystoupení, doprovodná zábava i oblíbená tombola. Ples představuje vrchol společenské sezóny univerzity a je místem, kde se příjemně propojuje kultura, zábava a reprezentace školy." 
        image={PlesImage} 
        swap={false} 
      />

      <ProjectSection 
        title="Seznamovák" 
        description="Seznamovák UTB děláme hlavně pro všechny naše prváky. Koná se koncem léta v Kemp Ranč Bystřička a nabízí několik dní plných her, pohybových aktivit a párty. Cílem je, aby se studenti rychle poznali a prolomili ledy napříč fakultami. Je to prostě must-have pro hladký start do vysokoškolského života." 
        image={SeznamovakImage} 
        swap={true} 
      />

      <ProjectSection 
        title="Vítání prváků" 
        description="Vítání prváků je největší party zimního semestru a oficiální start na UTB, který si žádný student nesmí nechat ujít. Za jednu noc studenti zažijí noční Zlín napříč několika podniky s různými DJs a doprovodným programem, mezi kterým nechybí ani karaoke. Vrcholem večera je tradiční pasování prváků, během kterého zástupci Studentské unie oficiálně uvádí prváky do řad studentů UTB." 
        image={VitaniImage} 
        swap={false} 
      />

      <ProjectSection 
        title="Antiples" 
        description="Antiples je největší párty letního semestru a oblíbená studentská akce. Každý ročník přináší netradiční téma a originální dresscode, díky čemuž je dokonalým kontrastem Reprezentačního plesu a skvělou příležitostí pro všechny, kdo se chtějí vyfiknout, tak trochu jinak. Studenti si mohou za jeden večer užít zábavu a program hned na několika místech v těch nejšílenějších kostýmech." 
        image={AntiplesImage} 
        swap={true} 
      />

      <ProjectSection 
        title="Mezinárodní den studenstva" 
        description="Mezinárodní den studentstva 17. listopadu připomíná studentský boj za svobodu a demokracii. Akce se koná v centru Zlína před Rektorátem UTB a nabízí pietní akt, proslovy, a hudební vystoupení. Nejemotivnějším momentem je tradiční pochod studentů se svíčkami a transparenty, který symbolizuje, že důležité hodnoty studentské odvahy nezapomínáme." 
        image={DenBojeZaSvoboduImage} 
        swap={false} 
      />

      <ProjectSection 
        title="Halloween Party" 
        description="Halloween Party je party v tematických kostýmech. Probíhá v několika podnicích ve Zlíně, které nabídnou dost prostoru pro všechny šílené převleky a strašidelnou výzdobu. Hlavním bodem večera je soutěž o nejlepší masku s hodnotnými cenami, a samozřejmě nechybí skvělý DJs, kteří roztančí celý klub. Halloween Party je ideální příležitostí vypustit páru v polovině zimního semestru." 
        image={HalloweenImage} 
        swap={true} 
      />

      <ProjectSection 
        title="Rozsvícení vánočního stromečku" 
        description="Rozsvícení vánočního stromečku UTB symbolicky otevírá adventní čas a přináší vánoční atmosféru přímo na univerzitu. Akce se tradičně koná před budovou FaME (U2) a nabízí doprovodný program, hudební a taneční vystoupení, stánky a dílničky pro nejmenší, za kterými vždy chodí i Mikuláš. Je to ideální chvíle na zastavení v hektickém semestru a naladění se na vánoční pohodu." 
        image={StromecekImage} 
        swap={false} 
      />

      <ProjectSection 
        title="Pivní spirála" 
        description="Pivní spirála patří k nejoblíbenějším tradičním akcím každého studentského roku. Tříčlenné týmy vyrážejí na trasu přes vybrané zlínské hospody a restaurace, kde na každé zastávce musí zvládnout dvě velká piva a jedno malé, než mohou pokračovat dál. O vítězství rozhoduje rychlost, spolupráce a dobře zvolená taktika. Tým, který dorazí do cílového podniku jako první a vypije závěrečnou rundu, získává titul šampionů spirály." 
        image={SpiralaImage} 
        swap={true} 
      />

      <!--       
      <ProjectSection 
        title="Galavečer" 
        description="Galavečer UTB je slavnostní událost, během které univerzita oceňuje výjimečné studenty napříč všemi fakultami. Nominovaní ocenění získávají za studijní úspěchy, projekty, sportovní výsledky i přínos univerzitní komunitě. Součástí večera je vyhlášení vítězů za každou fakultu a doprovodný program v podbě vystoupení." 
        image={DenBojeZaSvoboduImage} 
        swap={false} 
      /> -->
    </Container>
  </section>
</Layout>
