---
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(Astro.props.imageUrl ?? '/meta_image.png', Astro.url);
---

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta charset="utf-8" />

  <title>{Astro.props.title}</title>

  <meta name="robots" content="index, follow" />

  <meta name="title" content={Astro.props.title} />
  <meta name="description" content={Astro.props.description} />

  <meta name="copyright" content={`©Studentská unie utb 2022 - ${new Date().getFullYear()}`} />
  <meta name="author" content="Studentská unie utb" />

  <meta name="theme-color" content="#090F25" />

  <link rel="canonical" href={canonicalURL} data-baseprotocol="https:" />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <meta property="og:type" content="website" />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:site_name" content={Astro.props.title} />
  <meta property="og:title" content={Astro.props.title} />
  <meta property="og:description" content={Astro.props.description} />
  <meta property="og:image" content={socialImageURL} />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={canonicalURL} />
  <meta property="twitter:title" content={Astro.props.title} />
  <meta property="twitter:description" content={Astro.props.description} />
  <meta property="twitter:image" content={socialImageURL} />
</head>
